**/*.map
**/*.ts
*.sh

.editorconfig
.gitignore
.vscode-test.mjs

eslint.config.mjs
tsconfig.json
tsconfig.publish.json

.vscode-test/
.vscode/
dist/test/
releases/
src/
templates/vscx-template-v*.zip
