**/*.map
**/*.ts
*.sh

.editorconfig
.gitignore
.vscode-test.mjs

**/tsconfig.json
**/webpack.config.js

**/webviews/**/package.json
**/webviews/**/*.ts

eslint.config.mjs
tsconfig.publish.json

.vscode-test/
.vscode/
dist/test/
releases/
src/
templates/files/
templates/vscx-template-v*.zip