header {
    background-image: url(images/extension-256.png);
    background-size: 72px;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 84px;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: 1em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 1em 0 0 0;
}

header p {
    margin: 0;
    padding: 0.5em 0 0 0;
}

p.textfield-note {
    margin: 0;
    padding: 0.5em 0 1.25em 0;
    font-size: 0.9em;
}

div.textfield,
div.textfield-with-icon {
    display: flex;
    align-items: center;
}

div.textfield-with-icon span.clickable {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0.5em;
}

div.textfield-with-icon span.clickable i {
    margin-right: 0.25em;
}

vscode-button {
    margin-right: 1em;
}